<!DOCTYPE html>
<html>
    <head>
        <title>Dot Game</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <h2>Dot Game</h2>
        <div id="scoreBoard"></div>
        <button type="button" id="start">Start</button>
        <button type="button" id="reset">Reset</button>
        <canvas id="container">
            <p>Sorry, your browser cannot display this image.<p>
        </canvas>

        <script src="/index.js"></script>
    </body>
</html>
